@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>PDF Tester</h1>
</div>

<div class="row">
    <div class="col-md-4">   


        <h2>Get PDF</h2>
        <form action="/Home/Html2pdfRocket">

            Url: <input type="text" name="Url" />
            <input type="submit" name="subit" value="generate!" />
        </form>
    </div>



</div>